<%# ----- HERO COVER TITLE ----- %>
<div class="row">
  <div class="col-12 mxwidth rounded-4 bg-light mb-5">
    <div class="cover-banner">
      <img src="https://plus.unsplash.com/premium_photo-1701187887029-907bed510db6?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" id="cover-banner">
    </div>
  </div>
</div>

<%# ----- HERO REWARD POSSEDE ----- %>
<div class="row">
  <div class="col-12 mxwidth rounded-4 bg-light mb-5">
    <div>
      <h2>Bonus achetés</h2>

      <% @user_rewards.each do |user_reward| %>
        <%= user_reward.reward.title %> <br>
        <%= user_reward.reward.description %>
      <% end %>
    </div>
  </div>
</div>

<%# ----- HERO REWARD A DEBLOQUER ----- %>
<div class="row">
  <div class="col-12 mxwidth rounded-4 bg-light mb-5">
    <div>
      <H2>Bonus disponibles</H2>
      <% @rewards.each do |reward| %>
            <%= reward.title %> <br>
            <%= reward.description %> <br>
            <%= reward.price %> <br>
            <%= link_to "Acheter ce bonus", reward_user_rewards_path(reward), data: { turbo_method: :post }, class:"btn btn-dark pe-4 text-center" %> <br>
      <% end %>
    </div>
  </div>
</div>
