  <%# ----- SQUAD HEADER ----- %>
<div class="banner overflow-hidden rounded-4 shadow-sm" style="position: relative;"id="subcard">
<%= image_tag "wald.jpg", class: "img-fluid", style: "object-fit: cover" %>
<div class="text-center text-white" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
<h1>C'est l'heure d'encaisser</h1>
</div>
</div>




<div class="container col-12">

<%# ----- HERO REWARD POSSEDE ----- %>

<div class="bonus shadow-sm">
    <div class="titre"><h2>Mes Bonus</h2>
    </div>
</div>

<div class="row">
    <div class="grid-3">
        <% @user_rewards.each do |user_reward| %>
            <div class="card-rewards overflow-hidden rounded-4 shadow-sm" style="position: relative;"id="subcard">
                <%= image_tag "wald.jpg", class: "img-fluid", style: "object-fit: cover" %>
                <div class="text-center text-white" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                    <h5><%= user_reward.reward.title %></h5>

                    <!-- Button trigger modal -->
                  <button type="button" class="btn btn-custom details-button" data-bs-toggle="modal" data-bs-target="#exampleModal" data-reward-description="<%= user_reward.reward.description %>" data-reward-title="<%= user_reward.reward.title %>">
                    <%= image_tag "picto/icon-bonus.svg", class:"me-2" %> Détails
                  </button>
                </div>
            </div>
               <% end %>
           <!-- Modale -->

                      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h1 class="modal-title fs-5" id="exampleModalLabel">Détails</h1>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p id="modal-description"></p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-custom2" data-bs-dismiss="modal">Fermer</button>
                            </div>
                          </div>
                        </div>
                      </div>
    </div>
</div>


<%# ----- HERO REWARD A DEBLOQUER ----- %>
  <div class="bonus shadow-sm">
  <H2>Bonus disponibles</H2>
  </div>
    <div class="row">
      <div class="grid-3">
         <% @rewards.each do |reward| %>
        <div class="card-rewards overflow-hidden rounded-4 shadow-sm" style="position: relative;"id="subcard">
          <%= image_tag "wald.jpg", class: "img-fluid", style: "object-fit: cover" %>
            <div class="text-center text-white" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
              <%= reward.title %> <br>
                 <%= reward.description %> <br>
                   <%= reward.price %> <br>
          </div>
        </div>
         <% end %>
      </div>
    </div>



<%# JavaScript pour modifier l'intérieur de la modale %>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var myModal = new bootstrap.Modal(document.getElementById('exampleModal'));
    var modalTitle = document.getElementById('exampleModalLabel');
    var modalDescription = document.getElementById('modal-description');

    var detailsButtons = document.querySelectorAll('.details-button');

    detailsButtons.forEach(function (button) {
      button.addEventListener('click', function () {
        var title = button.getAttribute('data-reward-title');
        var description = button.getAttribute('data-reward-description');

        modalTitle.innerText = title;
        modalDescription.innerText = description;

        myModal.show();
      });
    });
  });
</script>
  </div>
