<div class="container col-12">
<%# ----- SQUAD HEADER ----- %>
  <div class="squad-header row col-12 justify-content-center align-items-center">
    <h1>Jackpot ! C’est l’heure d’encaisser...</h1>
  </div>

<%# ----- HERO REWARD POSSEDE ----- %>
    <div class="bonus">
      <div class="text">
        <h2>Mes Bonus</h2>

      </div>
    </div>
      <div class="row">
        <div class="grid-3">
        <% @user_rewards.each do |user_reward| %>

         <div class="card-rewards">
         <h1> <%= user_reward.reward.title %> </h1><br>

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
              Afficher détails bonus
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    ...
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
              </div>
            </div>

         <%= user_reward.reward.description %>

        </div>
           <% end %>
    </div>

  </div>



<%# ----- HERO REWARD A DEBLOQUER ----- %>
<br>
  <div class="row">
      <div class="card-rewards col-12">
      <div>
        <H2>Bonus disponibles</H2>
        <% @rewards.each do |reward| %>
              <%= reward.title %> <br>
              <%= reward.description %> <br>
              <%= reward.price %> <br>
              <%= link_to "Acheter ce bonus", reward_users_rewards_path(reward), class:"btn btn-dark pe-4 text-center" %> <br>
        <% end %>
      </div>
    </div>
  </div>
</div>
