  <%# ----- SQUAD HEADER ----- %>
<div class="banner overflow-hidden rounded-4 shadow-sm" style="position: relative;"id="subcard">
<%= image_tag "wald.jpg", class: "img-fluid", style: "object-fit: cover" %>
<div class="text-center text-white" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
<h1>C'est l'heure d'encaisser</h1>
</div>
</div>




<div class="container col-12">

<%# ----- HERO REWARD POSSEDE ----- %>

<div class="bonus shadow-sm">
    <h2>Mes Bonus</h2>
</div>
<div class="row">
    <div class="grid-3">
        <% current_user.user_rewards.each do |user_reward| %>
            <div class="card-rewards overflow-hidden rounded-4 shadow-sm" style="position: relative;"">

                <div class="text-center text-white" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                    <h5><%= user_reward.reward.title %></h5><br>
                    <!-- Button trigger modal -->
                  <button type="button" class="btn btn-custom details-button" data-bs-toggle="modal" data-bs-target="#reward-details-<%= user_reward.id %>-Modal" data-reward-description="<%= user_reward.reward.description %>" data-reward-title="<%= user_reward.reward.title %>">
                    <%= image_tag "picto/icon-bonus.svg", class:"me-2" %> Détails
                  </button>
                </div>
            </div>

            <div class="modal fade" id="reward-details-<%= user_reward.id %>-Modal" tabindex="-1" aria-labelledby="reward-details-<%= user_reward.id %>-ModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content d-flex justify-content-center text-align-center">
                  <div class="modal-header ">
                    <h1 class="modal-title d-flex justify-content-center text-align-center fs-5" id="reward-details-<%= user_reward.id %>-ModalLabel"><%= user_reward.reward.title %></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body d-flex justify-content-center text-align-center">
                      <p id="modal-description d-flex justify-content-center text-align-center"><%= user_reward.reward.description %></p>
                  </div>
                  <div class="modal-footer d-flex justify-content-center text-align-center">
                    <button type="button" class="btn-custom2" data-bs-dismiss="modal">Fermer</button>
                  </div>
                </div>
              </div>
            </div>
<% end %>
<!-- Modale -->
    </div>
</div>



<%#****** ----- REWARD A DEBLOQUER ----- ******%>

<%# BARRE DE PROGRESSION %>
  <div class="bonus shadow-sm">
  <H2>Bonus à débloquer</H2>
    <progress value="<%= current_user.user_rewards.count %>" max="<%=  @total_rewards %>"></progress>
  </div>



    <div class="row">
      <div class="grid-3">
         <% @rewards.each do |reward| %>
    <%# si les points sont < au prix du bonus alors affichage grisé %>
    <% if current_user.points_counter < reward.price %>
    <div class="card-rewards2 overflow-hidden rounded-4 shadow-sm" style="position: relative; "id="gris">
      <% else %>
        <div class="card-rewards2 overflow-hidden rounded-4 shadow-sm" style="position: relative; opacity: 1;" id="">
        <% end %>

            <div class="text-center text-white" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
              <div class="element2"><h5><%= reward.title %></h5></div>

                      <!-- Button trigger modal -->
                      <% if current_user.points_counter < reward.price %>
                      <button type="button" class="btn btn-custom details-button" data-bs-toggle="modal" data-bs-target="#user-reward_<%= reward.id %>-Modal" data-reward-description="" data-reward-title="<%= reward.title %>" <%= 'disabled' if current_user.points_counter < reward.price %>>
                          <%= image_tag "picto/icon-bonus.svg", class:"me-2" %> Acheter
                        </button>
                            <% else %>

                  <button type="button" class="btn btn-custom details-button" data-bs-toggle="modal" data-bs-target="#user-reward_<%= reward.id %>-Modal" data-reward-description="" data-reward-title="">
                    <%= image_tag "picto/icon-bonus.svg", class:"me-2" %> Acheter
                  </button>
                    <% end %>
                   <div class="element"><p><%= reward.price %> points</p></div>
          </div>
        </div>
  <!-- Modale -->
 <div class="modal fade" id="user-reward_<%= reward.id %>-Modal" tabindex="-1" aria-labelledby="user-reward_<%= reward.id %>-ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="user-reward_<%= reward.id %>-ModalLabel"><%= reward.title %></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p id="modal-description"><%= reward.description %></p>
        <%# FORMULAIRE CREATION REWARD %>
        <%= simple_form_for UserReward.new, url: reward_user_rewards_path(:id) do |f| %>
          <%= f.input :reward_id, as: :hidden, input_html: { value: reward.id } %>
          <%= f.input :progress, as: :hidden, value: 'not_used' %>
          <%= f.input :target_id, as: :hidden, input_html: { value: current_user.id } %>
          <%= f.button :submit, "Acheter le bonus", class: 'hidden-submit btn btn-submit details-button mx-auto' %>
          <%  %>
        <% end %>

      </div>
    </div>
  </div>
</div>
         <% end %>
      </div>
    </div>
</div>
