<%# ----- SQUAD HEADER ----- %>
<div class="banner overflow-hidden rounded-4 shadow-sm" style="position: relative;"id="subcard">
<%= image_tag "ligne.jpg", class: "img-fluid", style: "object-fit: cover" %>
<div class="text-center text-white" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
<h1>Plutôt Winner ou Looser ?</h1>
</div>
</div>

<div class="row d-flex justify-content-center mb-4">
  </div>

  <div class="row d-flex justify-content-center mb-4">
  <div class="grid-1">
      <div class="grid-3">
        <div class=" rounded-4 p-3 shadow" id="subcard">
            <h2 class="text-white text-center"><%= current_user.won_average %>%</h2>
            <p class="text-white text-center">de victoires</p>
        </div>

        <div class=" rounded-4  p-3 shadow" id="subcard">
            <h2 class="text-white text-center"><%= current_user.bets.where(progress: 'won').count %>/<%= current_user.bets.count %></h2>
            <p class="text-white text-center">paris gagnés</p>
        </div>

        <div class=" rounded-4  p-3 shadow" id="subcard">
            <h2 class="text-white text-center">3e</h2>
            <p class="text-white text-center">de la team</p>
          </div>
        </div>
      </div>
  </div>
  <div class="row">
    <div class="grid-2-1 mb-3">
      <div class="d-flex flex-column rounded-4 shadow p-3" id="subcard">
        <div class="text-center col-12"  >
          <h2 class=" text-white">Classement</h2>

          <% current_user.squad.users.sort_by { |user| user.points_counter }.each do |user| %>

            <div class="classement-list d-flex  justify-content-evenly align-items-center mb-2 text-white ">
              <p class="me-2">1</p>
              <p class="me-2"><%= user.nickname %></p>
              <p class="me-2"><strong><%= user.won_average  %> %</strong> de réussite</p>
              <p class="me-2"><%= image_tag "picto/icon-points.svg", class:"me-2 align-items-center" %><strong><%= user.points_counter %> </strong>points</p></p>
            </div>
          <% end %>

        </div>
      </div>

      <div class="d-flex justify-content-center shadow rounded-4 p-3", id="subcard">
        <h2 class=" text-white">🏀 Basket</h2>
        <p class=" text-white">sport le plus remporté</p>
      </div>

    </div>
  </div>
