<div class="row d-flex justify-content-center mb-4">

    <div class="grid-1">
      <div class="squad-header d-flex justify-content-center align-items-center">
        <h1>Plutôt winner ou looser ?</h1>
      </div>
    </div>

  </div>

  <div class="row d-flex justify-content-center mb-4">

  <div class="grid-1">

      <div class="grid-3">

        <div class=" rounded-4 p-3 shadow" id="subcard">
            <h2 class="text-white text-center">74%</h2>
            <p class="text-white text-center">de victoires</p>
        </div>

        <div class=" rounded-4  p-3 shadow" id="subcard">
            <h2 class="text-white text-center">14/17</h2>
            <p class="text-white text-center">matchs joués</p>
        </div>

        <div class=" rounded-4  p-3 shadow" id="subcard">
            <h2 class="text-white text-center">3e</h2>
            <p class="text-white text-center">de la team</p>


          </div>

        </div>

      </div>

  </div>

  <div class="row">

    <div class="grid-2-1 mb-3">

      <div class="d-flex flex-column rounded-4 shadow p-3" id="subcard">

        <div class="text-center col-12"  >
          <h2 class=" text-white">Classement</h2>

          <div class="classement-list d-flex  justify-content-evenly align-items-center mb-2 text-white ">
            <p class="me-2">1er</p>
            <p class="me-2"><%= current_user.nickname %></p>
            <p class="me-2"><strong>79%</strong> de réussite</p>
            <p class="me-2"><%= image_tag "picto/icon-points.svg", class:"me-2 align-items-center" %><strong>1250 </strong>points</p></p>
          </div>

          <div class="classement-list d-flex  justify-content-evenly align-items-center mb-2 text-white ">
            <p class="me-2">2e</p>
            <p class="me-2">Paulo75</p>
            <p class="me-2"><strong>60%</strong> de réussite</p>
            <p class="me-2"><%= image_tag "picto/icon-points.svg", class:"me-2 align-items-center" %><strong>1250 </strong>points</p></p>
          </div>

          <div class="classement-list d-flex  justify-content-evenly align-items-center mb-2 text-white ">
            <p class="me-2">3e</p>
            <p class="me-2"><%= User.last.nickname %></p>
            <p class="me-2"><strong>55%</strong> de réussite</p>
            <p class="me-2"><%= image_tag "picto/icon-points.svg", class:"me-2 align-items-center" %><strong>1250 </strong>points</p></p>
          </div>

        </div>
      </div>

      <div class="d-flex justify-content-center shadow rounded-4 p-3", id="subcard">
        <h2 class=" text-white">🏀 Basket</h2>
        <p class=" text-white">sport le plus remporté</p>
      </div>



    </div>


  </div>
