<%# ----- SQUAD HEADER ----- %>
<div class="banner overflow-hidden rounded-4 shadow-sm" style="position: relative;"id="subcard">
<%= image_tag "team.jpg", class: "img-fluid", style: "object-fit: cover" %>
<div class="text-center text-white" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
<h1>Plutôt Winner ou Looser ?</h1>
</div>
</div>

<div class="row d-flex justify-content-center mb-4">
  </div>

  <div class="row d-flex justify-content-center mb-4">
  <div class="grid-1">
      <div class="grid-3">
        <div class=" rounded-4 p-3 shadow" id="subcard">
            <h2 class="text-white text-center"><%= current_user.points_counter %></h2>
            <p class="text-white text-center fs-4">points</p>
        </div>

        <div class=" rounded-4  p-3 shadow" id="subcard">
            <h2 class="text-white text-center"><%= current_user.bets.where(progress: 'won').count %></h2>
            <P class="text-white text-center fs-4">paris gagnés</P>
        </div>

        <div class=" rounded-4  p-3 shadow" id="subcard">
            <h2 class="text-white text-center"><%= current_user.bets.count %></h2>
            <p class="text-white text-center fs-4">paris joué</p>
          </div>
        </div>
      </div>
  </div>
  <div class="row">
    <div class="grid-2-1 mb-3">
      <div class="d-flex flex-column rounded-4 shadow p-3" id="subcard">
        <div class="text-center col-12"  >
          <h4 class=" text-white">Classement</h4>

          <% current_user.squad.users.sort_by { |user| user.bets.where(progress: 'won').count }.reverse.each do |user| %>

            <div class="classement-list d-flex  justify-content-evenly align-items-center mb-2 text-white pt-2">
              <p>🏅</p>
              <p><%= user.nickname %></p>
              <p><strong><%= user.bets.where(progress: 'won').count %>/<%= user.bets.count %></strong> paris gagnés</p>
              <p><strong><%= user.points_counter %> </strong>points</p></p>
            </div>
          <% end %>

        </div>
      </div>

      <% if current_user.bets.where(progress: 'won').count >= current_user.bets.where(progress: 'lost').count %>


         <div class="d-flex justify-content-center shadow rounded-4 p-3" style="position: relative;"id="subcard-win">
         <h4 class="text-white pb-5">Le roi de la lucarne</h4>
        <%= image_tag "modal-win.png", class: "img-fluid rounded-4", style: "object-fit: cover" %>
        <div class="text-center text-white" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
         </div>
          </div>
      <% else %>

        <div class="d-flex justify-content-center shadow rounded-4 p-3" style="position: relative;"id="subcard-loose">
         <h4 class=" text-white pb-5">Le maestro des poteaux</h4>
        <%= image_tag "modal-loose.png", class: "img-fluid rounded-4", style: "object-fit: cover" %>
        <div class="text-center text-white" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
         </div>
          </div>

      <% end %>

    </div>
  </div>
