 <div class="d-flex sticky-top flex-column justify-content-between  p-3 text-white sidecontent rounded-4">
      <div class="div">
        <div class="nav-links">


      <ul class="list-unstyled text-decoration-none text-center">
        <% if user_signed_in? %>
            <li class="mb-2 range-links object-fit-fill"><%= link_to root_path, class: "rounded-3 p-2 text-decoration-none text-white" do %>
              <%= image_tag "picto/icon-sports.svg", class:"me-2 mb-2" %>Accueil
              <br>
             <li> <%= link_to "📉 Mes stats", user_path(current_user), class: "text-decoration-none text-white" %></li>
             <br>
              <li> <%= link_to "🏆 Historique", squad_path(current_user.squad), class: "text-decoration-none text-white" %></li>
              <br>
             <li><%= link_to "🏬 Boutique", rewards_path, class: "text-decoration-none text-white"%></li>
             <br>
            <% end %>
            </li>

        <% else %>

              <li class="mb-2 range-links object-fit-fill"><%= link_to root_path, class: "rounded-3 p-2 text-decoration-none text-white" do %>
              <%= image_tag "picto/icon-sports.svg", class:"me-2 mb-2" %>Accueil
              <br>
             <li> <%= link_to "📉 Mes stats", new_user_session_path, class: "text-decoration-none text-white" %></li>
             <br>
              <li> <%= link_to "🏆 Historique", new_user_session_path, class: "text-decoration-none text-white" %></li>
              <br>
             <li><%= link_to "🏬 Boutique", new_user_session_path, class: "text-decoration-none text-white"%></li>
             <br>
            <% end %>
            </li>

        <% end %>


        </div>
      </div>



      <div class="text-center">
        <div class="user-links">
          <ul class="list-unstyled">
            <li><a href="#">Paramètres</a></li>
            <% if user_signed_in? %>

           <li><%= link_to "Déconnexion", destroy_user_session_path, data: {turbo_method: :delete}, class: "text-warning" %></li>
           <% else %>
            <li><%= link_to "Connexion", new_user_session_path, class: "text-decoration-none text-white"%></li>
             <br>
            <% end %>


          </ul>

          <hr>

          <div class="help-links">
            <p><i class="fa-solid fa-circle-info me-2"></i>Besoin d'aide ?</p>
          </div>

        </div>

    </div>
    </div>
