 <div class="d-flex sticky-top flex-column justify-content-between  p-3 text-white sidecontent rounded-4">
      <div class="div">
        <div class="nav-links">

          <ul class="list-unstyled text-decoration-none text-center ">
            <li class="mb-2 range-links object-fit-fill"><a href="/" class=" rounded-3 p-2 pb-2 text-decoration-none text-white"><%= image_tag "picto/icon-sports.svg", class:"me-2 mb-2" %>Accueil</a></li>
            <li class="mb-2"><a href="/" class=" rounded-3 p-2 text-decoration-none text-white"><%= image_tag "picto/icon-stats.svg", class:"me-2 mb-2" %>Mes stats</a></li>
            <li class="mb-2"><a href="/" class=" rounded-3 p-2 text-decoration-none text-white"><%= image_tag "picto/icon-historique.svg", class:"me-2 mb-2" %>Historique</a></li>
            <li class="mb-2"><a href="/" class=" rounded-3 p-2 text-decoration-none text-white"><%= image_tag "picto/icon-discussion.svg", class:"me-2 mb-2" %>Discussion</a></li>
            <li class="mb-2"><a href="/" class=" rounded-3 p-2 text-decoration-none text-white"><%= image_tag "picto/icon-boutique.svg", class:"me-2 mb-2" %>Boutique</a></li>
          </ul>
          <hr>
        </div>
      </div>


      <div class="text-center">
        <div class="user-links">
          <ul class="list-unstyled">
            <li><a href="#">Paramètres</a></li>
            <li><%= link_to "Déconnexion", destroy_user_session_path, data: {turbo_method: :delete}, class: "text-warning" %></li>
          </ul>

          <hr>

          <div class="help-links">
            <p><i class="fa-solid fa-circle-info me-2"></i>Besoin d'aide ?</p>
          </div>

        </div>

    </div>
    </div>
