<div class="container-fluid">
  <div class="row">
    <div class="col-10  d-flex flex-row justify-content-between  my-3">
        <div class="title col-2 align-middle">
          <a href="/"><%= image_tag "logo/logo-betfriends.svg" %></a>
        </div>
            <div class="col-10">
              <% if user_signed_in? %>
                <div class="d-flex justify-content-center align-items-center px-3 link-nav">

                  <div class="navbarclass text-center">
                    <p><strong><%= image_tag "picto/icon-points.svg", class: "me-2" %><%= current_user.points_counter %></strong></p>
                  </div>

                  <div class="navbarclass text-center">
                    <p><strong><%= image_tag "picto/icon-bonus.svg", class: "me-2" %><%= current_user.user_rewards.count %> Bonus disponibles </strong></p>
                  </div>

                  <div class="navbarclass text-center me-2">
                    <p><strong><%= image_tag "picto/icon-points.svg", class: "me-2" %><%= current_user.nickname %></strong></p>
                  </div>

                </div>
              <% else %>
                <div class="d-flex justify-content-center align-items-center px-3 link-nav">

                  <div class="btnNav">
                    <%= link_to "Se connecter", new_user_session_path, class: "btn btn-custom" %>
                    </div>
                    <div class="btnNav">
                    <%= link_to "S'inscrire", new_user_registration_path, class: "btn btn-custom" %>
                    </div>

                </div>
              <% end %>

            </div>
    </div>
  </div>
</div>
