<div class="d-flex mx-2 flex-column sticky-top justify-content-between sidecontent rounded-4 text-white">


  <%# ----- HEADER MENU > CLASSEMENT  %>

  <div class=" ">

    <h5 class="mt-3 mb-3 text-center">Le Top 5</h5>
    <% if user_signed_in? %>
    <% current_user.squad.users.sort_by { |user| user.points_counter }.reverse.first(5).each do |user| %>

      <div class=" text-white mb-3">
        <p class="me-2 ms-3 "><strong><%= user.nickname %></strong> - <%= user.points_counter %> points</p>
      </div>

    <% end %>
    <% end %>
    <% if user_signed_in? %>
      <small><u><%= link_to "Classement complet",user_path(current_user), class: "text-decoration-none text-white bottom-0 btn btn-outline-light rounded-3 d-flex justify-content-center text-center mx-5"%></u></small>
    <% end %>

  </div>


  <%# ----- HEADER MENU > PICTURE  %>
  <div class="hightlight-bonus overflow-hidden rounded-3 mx-2 mb-2 mt-2 text-center shadow">
    <img src="https://images.unsplash.com/photo-1551958219-acbc608c6377?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" id="right-image-bonus">
  </div>


  <%# ----- HEADER MENU > ACTUALITES  %>

  <div class="mb-4">
    <h5 class="mb-2 text-center">Actualités</h5>

    <% @rss_flux.items.first(2).each do |item| %>
      <div class="text-white px-3 rounded-4 shadow-sm  d-flex flex-column" id="rss-card">
        <p><small><%= item.title %></small><br><em><small><u><%= link_to "En savoir plus", item.link, class: "text-decoration-none text-white",target: '_blank'%></u></small></em></p>
      </div>
      <% end %>
      <div class="text-center">
        <small><u><%= link_to "Voir toutes les actus", home_path, class: "text-decoration-none text-white btn btn-outline-light mt-2 rounded-3"%></u></small>
      </div>
  </div>
