<div class="d-flex mx-2 flex-column sticky-top justify-content-between sidecontent rounded-4 text-white">


  <%# ----- HEADER MENU > CLASSEMENT  %>

  <div class=" text-center">



    <%# IMPLEMENTER ITERATION CLASSEMENT LIMIT TOP 5 %>

    <ul class="list-unstyled ">
    <h5 class="">Les boss de la team</h5>

      <div class="classement-list-player mx-3 mb-1">
        <li><%= image_tag "picto/icon-sports.svg", class:"me-2" %><small>Player 1</small></li>
      </div>

      <div class="classement-list-player mx-3 mb-1">
        <li><%= image_tag "picto/icon-sports.svg", class:"me-2" %><small>Player 1</small></li>
      </div>

      <div class="classement-list-player mx-3 mb-1">
        <li><%= image_tag "picto/icon-sports.svg", class:"me-2" %><small>Player 1</small></li>
      </div>

      <div class="classement-list-player mx-3 mb-1">
        <li><%= image_tag "picto/icon-sports.svg", class:"me-2" %><small>Player 1</small></li>
      </div>

      <div class="classement-list-player mx-3 mb-1">
        <li><%= image_tag "picto/icon-sports.svg", class:"me-2" %><small>Player 1</small></li>
      </div>

        <% if user_signed_in? %>
          <small><u><%= link_to "Classement complet",user_path(current_user), class: "text-decoration-none text-white bottom-0 "%></u></small>
        <% end %>

    </ul>

    <hr class="mx-4">
  </div>


  <%# ----- HEADER MENU > PICTURE  %>
  <div class="hightlight-bonus overflow-hidden rounded-4 mx-2  text-center shadow">
    <img src="https://images.unsplash.com/photo-1551958219-acbc608c6377?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" id="right-image-bonus">
  </div>


  <%# ----- HEADER MENU > ACTUALITES  %>

  <div class="mb-4">
    <h5 class="mb-2 text-center">Actualités</h5>

    <% @rss_flux.items.first(1).each do |item| %>
      <div class="text-white px-3 rounded-4 shadow-sm  d-flex flex-column" id="rss-card">
        <p><small><strong><%= item.title %></small><br><em><small><u><%= link_to "En savoir plus", item.link, class: "text-decoration-none text-white ",target: '_blank'%></u></strong></small></em></p>
      </div>
      <% end %>
      <div class="text-center">
        <small><u><%= link_to "Voir toutes les actus", home_path, class: "text-decoration-none text-white "%></u></small>
      </div>
  </div>
