<div class="d-flex flex-column sticky-top justify-content-between sidecontent rounded-4 text-white">


  <%# ----- HEADER MENU > CLASSEMENT  %>

  <div class=" text-center mt-2">

    <h5 class="py-1 mt-2">Les boss de la team</h5>

    <%# IMPLEMENTER ITERATION CLASSEMENT LIMIT TOP 5 %>

    <ul class="list-unstyled ">

      <div class="classement-list-player mx-2 mb-2">
        <li><%= image_tag "picto/icon-sports.svg", class:"me-2" %><small>Player 1</small></li>
      </div>

      <div class="classement-list-player mx-2 mb-2">
        <li><%= image_tag "picto/icon-sports.svg", class:"me-2" %><small>Player 1</small></li>
      </div>

      <div class="classement-list-player mx-2 mb-2">
        <li><%= image_tag "picto/icon-sports.svg", class:"me-2" %><small>Player 1</small></li>
      </div>

      <div class="classement-list-player mx-2 mb-2">
        <li><%= image_tag "picto/icon-sports.svg", class:"me-2" %><small>Player 1</small></li>
      </div>

      <div class="classement-list-player mx-2 mb-2">
        <li><%= image_tag "picto/icon-sports.svg", class:"me-2" %><small>Player 1</small></li>
      </div>

      <div class="mt-2">
        <li class=""><small><%= link_to "Classement complet" %></small></li>
      </div>
    </ul>

    <hr class="mx-4">
  </div>


  <%# ----- HEADER MENU > PICTURE  %>
  <div class="hightlight-bonus overflow-hidden rounded-4 mx-2  text-center shadow">
    <img src="https://images.unsplash.com/photo-1551958219-acbc608c6377?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" id="right-image-bonus">
  </div>


  <%# ----- HEADER MENU > ACTUALITES  %>

  <h5 class="mb-2 text-center mt-3">Actualités</h5>


</div>
