
<div class="row">
  <div class="grid-1">
    <div class="banner overflow-hidden rounded-4 shadow-sm mb-3" style="position: relative;" id="subcard">
      <%= image_tag "wald.jpg", class: "img-fluid", style: "object-fit: cover" %>
      <div class="text-center text-white" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
        <h1>Actualités</h1>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="grid-1">
    <h3>Retrouvez les derniers potins du ballon rond</h3>
  </div>

  <div class="grid-2">
    <% @feed.items.first(8).each do |item| %>
      <div class="card mb-3" id="actu-card">
        <div class="card-body text-white">
          <p class="card-text"><small><em><%= item.pubDate.strftime('%d-%m-%Y %X') %></em></small></p>
          <h5 class="card-title"><%= item.title %></h5>
          <hr>
          <p class="card-text" id="actu-description"><%= item.description %></p>
        </div>
        <div class="card-footer">
          <%= link_to "En savoir plus", item.link, class: "text-decoration-none text-white btn btn-outline-primary", target: '_blank'%>
        </div>
      </div>
    <% end %>
  </div>
</div>
