<div class="back">

<%# ----------NAVBAR------------ %>
<div class="row pb-5">

 <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">

    <h3 class="text-white text-decoration-none " href="#">Betfriends</h3>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto">

          <div class="user-button d-flex flex-row justify-content-center ">
              <%# <li class="align-middle text-white">240 points</li> %>
              <li class="align-middle text-white"><svg xmlns="http://www.w3.org/2000/svg" width="217" height="49" viewBox="0 0 217 49" fill="none">
  <g filter="url(#filter0_d_35_4090)">
    <rect x="4" width="208.213" height="41" rx="8" fill="black" fill-opacity="0.32" shape-rendering="crispEdges"/>
    <rect x="4.5" y="0.5" width="207.213" height="40" rx="7.5" stroke="url(#paint0_linear_35_4090)" shape-rendering="crispEdges"/>
  </g>
  <defs>
    <filter id="filter0_d_35_4090" x="0" y="0" width="216.214" height="49" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix"/>
      <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
      <feOffset dy="4"/>
      <feGaussianBlur stdDeviation="2"/>
      <feComposite in2="hardAlpha" operator="out"/>
      <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
      <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_35_4090"/>
      <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_35_4090" result="shape"/>
    </filter>
    <linearGradient id="paint0_linear_35_4090" x1="-3.17978" y1="1.89702e-05" x2="227.536" y2="26.3473" gradientUnits="userSpaceOnUse">
      <stop stop-color="white"/>
      <stop offset="1" stop-color="#820D95"/>
    </linearGradient>
  </defs>
</svg></li>
          </div>
          <div class="user-button d-flex flex-row justify-content-center">
              <li class="align-middle text-white">2 bonus disponibles</li>
          </div>


          <li class="nav-item dropdown align-middle">
            <div class="user-button d-flex flex-row justify-content-around left-0 overflow-hidden">
              <img class=" me-3" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
              <p class="align-middle text-white">Username</p>
            </div>

            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Préférences</a>
              <a class="dropdown-item" data-turbo-method="delete" href="#">Déconnexion</a>
            </div>
          </li>

      </ul>
    </div>

  </div>
</div>
</div>
<%# ----------CONTENT------------ %>

<%# LEFT SIDEBAR %>
<div class="container-fluid my-3">

  <div class="row">

    <div class="left-content col-2 ">

      <div class="d-flex flex-column contents flex-shrink-1 p-3 text-white sidebar-left">
        <%# <a href="/" class="d-flex text-center align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
          <span class="fs-4 ">Betfriends</span>
        </a>
        <hr> %>
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <a href="#" class="nav-link active" aria-current="page">
            <i class="fa-solid fa-house"></i>
            Accueil
            </a>
          </li>

          <li>
            <a href="#" class="nav-link text-white">
              <i class="fa-solid fa-gas-pump"></i>
              Mes stats
            </a>
          </li>

          <li>
            <a href="#" class="nav-link text-white">
              <i class="fa-solid fa-clock-rotate-left"></i>
              Historiques
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
              <i class="fa-regular fa-comments"></i>
              Discussions
            </a>
          </li>

          <li>
            <a href="#" class="nav-link text-white">
              <i class="fa-solid fa-shop"></i>
              Boutique
            </a>
          </li>
        </ul>
        <hr>

        <div class="dropdown d-flex flex-column justify-content-center">

        <ul class="flex-column mb-auto text-decoration-none list-unstyled text-center">
            <li class="">
              <a href="#" class="nav-link active mb-2 opacity-25" aria-current="page">
              Préférences
              </a>
            </li>
            <li class="">
              <a href="#" class="nav-link active mb-2 text-warning opacity-75" aria-current="page">
              Déconnexion
              </a>
            </li>
        </ul>
        <hr>
        <ul class="flex-column mb-auto text-decoration-none list-unstyled text-center">
            <li>
              <a href="#" class="d-flex align-items-center text-white text-decoration-none " id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
              <strong>Username</strong>
              </a>
            </li>
          </ul>


        </div>
      </div>
    </div>

 <%# HERO CONTENT %>



<div class="parent col-8">

  <div class="div1 bg-light card-main col-12">


  </div>


  <div class="div2  bg-light card-main ">

      <% @matches.each do |match| %>
            <div class="cardd">
              <img class="card-img-top" data-src="holder.js/100px180/" alt="100%x180" style="height: 180px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22259%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20259%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_18c17e40538%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A13pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_18c17e40538%22%3E%3Crect%20width%3D%22259%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2296.25%22%20y%3D%2296%22%3E259x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
              <div class="d-flex flex-column justify-content-center">
                <div class="bouton-paris d-flex justify-content-center text-center mt-3">
                  <div class="mx-2 mb-2  ">
                    <button class="btn btn-dark pe-4 text-center"><small><%= match.participations.first.team.name %></small><br><%= match.participations.first.odd %></button>
                  </div>
                  <div>
                    <button class="btn btn-dark pe-4"><small>Draw</small><br>4.5</button>
                  </div>
                  <div class="mx-2 ">
                    <button class="btn btn-dark pe-4"><small><%= match.participations.last.team.name %></small><br><%= match.participations.last.odd %></button>
                  </div>
                </div>
                <div class="equipe-paris col-12 d-flex mx-3 justify-content-between">
                  <p class=" col-4">Paris SG</p>
                  <p class=" col-4">Nul</p>
                  <p class=" col-4">Marseille</p>
                </div>
                <div class="bouton-bonus d-flex justify-content-center mb-3 ">
                  <button class="btn btn-dark rounded-5"> Utiliser un bonus</button>
                </div>
              </div>
          </div>
      <% end %>
  </div>



  <div class="div3  bg-light card-main ">
    <div class="cardd">
      <img class="card-img-top" data-src="holder.js/100px180/" alt="100%x180" style="height: 180px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22259%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20259%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_18c17e40538%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A13pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_18c17e40538%22%3E%3Crect%20width%3D%22259%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2296.25%22%20y%3D%2296%22%3E259x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
      <div class="">
        <div class="bouton-paris d-flex justify-content-center text-center mt-3">
          <div class="mx-2 ">
            <button class="btn btn-dark pe-4">Odd<br>Play</button>
          </div>
          <div>
            <button class="btn btn-dark pe-4">Odd<br>Play</button>
          </div>
          <div class="mx-2 ">
            <button class="btn btn-dark pe-4">Odd<br>Play</button>
          </div>
        </div>
        <div class="equipe-paris col-12 d-flex justify-content-between">
          <p class="ms-3 col-4">Team1</p>
          <p class="ms-3 col-4">Draw</p>
          <p class="me-3 col-4">Team2</p>
        </div>
        <div class="bouton-bonus d-flex justify-content-center mb-3 ">
          <button class="btn btn-dark rounded-5"> Utiliser un bonus</button>
        </div>
      </div>
  </div>
  </div>


  <div class="div4  bg-light card-main ">
    <div class="cardd">
      <img class="card-img-top" data-src="holder.js/100px180/" alt="100%x180" style="height: 180px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22259%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20259%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_18c17e40538%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A13pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_18c17e40538%22%3E%3Crect%20width%3D%22259%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2296.25%22%20y%3D%2296%22%3E259x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
      <div class="">
        <div class="bouton-paris d-flex justify-content-center text-center mt-3">
          <div class="mx-2 ">
            <button class="btn btn-dark pe-4">Odd<br>Play</button>
          </div>
          <div>
            <button class="btn btn-dark pe-4">Odd<br>Play</button>
          </div>
          <div class="mx-2 ">
            <button class="btn btn-dark pe-4">Odd<br>Play</button>
          </div>
        </div>
        <div class="equipe-paris col-12 d-flex justify-content-between">
          <p class="ms-3 col-4">Team1</p>
          <p class="ms-3 col-4">Draw</p>
          <p class="me-3 col-4">Team2</p>
        </div>
        <div class="bouton-bonus d-flex justify-content-center mb-3 ">
          <button class="btn btn-dark rounded-5"> Utiliser un bonus</button>
        </div>
      </div>
  </div>
  </div>




  <div class="div5  bg-light card-main ">
    <div class="cardd">
      <img class="card-img-top" data-src="holder.js/100px180/" alt="100%x180" style="height: 180px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22259%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20259%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_18c17e40538%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A13pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_18c17e40538%22%3E%3Crect%20width%3D%22259%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2296.25%22%20y%3D%2296%22%3E259x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
      <div class="">
        <div class="bouton-paris d-flex justify-content-center text-center mt-3">
          <div class="mx-2 ">
            <button class="btn btn-dark pe-4">Odd<br>Play</button>
          </div>
          <div>
            <button class="btn btn-dark pe-4">Odd<br>Play</button>
          </div>
          <div class="mx-2 ">
            <button class="btn btn-dark pe-4">Odd<br>Play</button>
          </div>
        </div>
        <div class="equipe-paris col-12 d-flex justify-content-between">
          <p class="ms-3 col-4">Team1</p>
          <p class="ms-3 col-4">Draw</p>
          <p class="me-3 col-4">Team2</p>
        </div>
        <div class="bouton-bonus d-flex justify-content-center mb-3 ">
          <button class="btn btn-dark rounded-5"> Utiliser un bonus</button>
        </div>
      </div>
  </div>
  </div>


  <div class="div6  bg-light card-main ">
    <div class="cardd">
      <img class="card-img-top" data-src="holder.js/100px180/" alt="100%x180" style="height: 180px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22259%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20259%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_18c17e40538%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A13pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_18c17e40538%22%3E%3Crect%20width%3D%22259%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2296.25%22%20y%3D%2296%22%3E259x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
      <div class="">
        <div class="bouton-paris d-flex justify-content-center text-center mt-3">
          <div class="mx-2 ">
            <button class="btn btn-dark pe-4">Odd<br>Play</button>
          </div>
          <div>
            <button class="btn btn-dark pe-4">Odd<br>Play</button>
          </div>
          <div class="mx-2 ">
            <button class="btn btn-dark pe-4">Odd<br>Play</button>
          </div>
        </div>
        <div class="equipe-paris col-12 d-flex justify-content-between">
          <p class="ms-3 col-4">Team1</p>
          <p class="ms-3 col-4">Draw</p>
          <p class="me-3 col-4">Team2</p>
        </div>
        <div class="bouton-bonus d-flex justify-content-center mb-3 ">
          <button class="btn btn-dark rounded-5"> Utiliser un bonus</button>
        </div>
      </div>
  </div>
  </div>


  <div class="div7  bg-light card-main ">
    <div class="cardd">
      <img class="card-img-top" data-src="holder.js/100px180/" alt="100%x180" style="height: 180px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22259%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20259%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_18c17e40538%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A13pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_18c17e40538%22%3E%3Crect%20width%3D%22259%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2296.25%22%20y%3D%2296%22%3E259x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
      <div class="">
        <div class="bouton-paris d-flex justify-content-center text-center mt-3">
          <div class="mx-2 ">
            <button class="btn btn-dark pe-4">Odd<br>Play</button>
          </div>
          <div>
            <button class="btn btn-dark pe-4">Odd<br>Play</button>
          </div>
          <div class="mx-2 ">
            <button class="btn btn-dark pe-4">Odd<br>Play</button>
          </div>
        </div>
        <div class="equipe-paris col-12 d-flex justify-content-between">
          <p class="ms-3 col-4">Team1</p>
          <p class="ms-3 col-4">Draw</p>
          <p class="me-3 col-4">Team2</p>
        </div>
        <div class="bouton-bonus d-flex justify-content-center mb-3 ">
          <button class="btn btn-dark rounded-5"> Utiliser un bonus</button>
        </div>
      </div>
  </div>
  </div>
</div>



 <%# MAIN CONTENT %>
<%#
    <div class="main-content flex-grow-1 col-8">

        <div class="card">
        <img class="card-img-top" src="" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

  </div> %>





<%# RIGHT SIDE %>

    <div class="left-content col-2 d-flex flex-column ">

    <div class="d-flex flex-column justify-content-evenly contents flex-shrink-1 p-3 text-white  sidebar-right">

      <div class="LShead top-0">

       <div class="classement text-center">
        <h5 class="mb-2">Classement</h5>
        <ul class="list-unstyled">
          <div class="classement-list-player mb-2">
            <li>Player 1</li>
          </div>
          <div class="classement-list-player mb-2">
            <li>Player 2</li>
          </div>
          <div class="classement-list-player mb-2">
            <li>Player 3</li>
          </div>
          <div class="classement-list-player mb-2">
            <li>Player 4</li>
          </div>
          <div class="classement-list-player">
            <li>Player 5</li>
          </div>
          <div class="mt-2">
            <li><small><%= link_to "Classement complet"%></small></li>
          </div>
        </ul>
       </div>
      </div>

      <div class="LSmain ">
        <div class="hightlight-bonus border rounded-4 text-center">
          <img src="https://images.unsplash.com/photo-1511447333015-45b65e60f6d5?q=80&w=2755&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" id="highlight-img">
        </div>
      </div>

      <div class="LSfoot ">
        <div class="conversation text-center border rounded-4 p-3">

          <h5 class="mb-2">Le vestiaire</h5>

          <div class="all-messages d-flex flex-column">

            <div class="message text-start">
              <small><i class="fa-solid fa-user-ninja me-2"></i>User 1 - jeudi 21</small>
              <p>Hello toi</p>
              <hr>
            </div>

            <div class="message text-start">
              <small><i class="fa-solid fa-user-ninja me-2"></i>User 1 - jeudi 21</small>
              <p>Hello toi</p>
              <hr>
            </div>

          </div>


       </div>
      </div>



    </div>

    </div>


    </div>




  </div>



</div>
