<%# ----- HERO FUNBET ----- %>
<div class="row">
    <% @matches.each do |match| %>
        <% if match.funbet == true %>
          <div class="grid-1 mb-3">
            <div class="squad-header d-flex justify-content-center align-items-center">
              <h1><%= match.sport %></h1>
              <h5><%= match.date %></h5>
              <h3><%= match.favori_participation.team.name %> - <%= match.outsider_participation.team.name %></h3>
            </div>
          </div>
        <% end %>
    <% end %>
</div>
<%# ----- CONTENT > BETS ----- %>

  <div class="row">
    <div class="grid-3 d-flex px-4 flex-row justify-content-center">

    <%# ----- BET CARD ----- %>
    <% @matches.each do |match| %>
      <% if match.funbet == false %>

          <div data-controller="bets" class="col-4 rounded-4 bg-white bet-card position-relative shadow">
            <img class="card-img-top "  alt="100%x180" style="height: 140px; width: 120%; display: inline-block;" src="https://images.unsplash.com/photo-1579546929518-9e396f3cc809?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" data-holder-rendered="true">

            <div class="bouton-paris d-flex justify-content-center text-center my-3">
                <%= simple_form_for @bet do |f|%>
                  <div class="d-none">
                    <%= f.input :match_id, input_html: { value: match.id} %>
                    <%= f.input :participation_id, input_html: { value: match.favori_participation.id} %>
                    <%= f.input :user_reward_id, input_html: { data: { bets_target: "reward" }} %>
                </div>
                  <%= f.button :submit, "#{match.favori_participation.team.name}", class:"btn btn-dark btn-bet pe-4 rounded-3 text-center mx-1 mb-2" %>
                <% end %>

              <%= simple_form_for @bet do |f|%>
                <div class="d-none">
                  <%= f.input :match_id, input_html: { value: match.id} %>
                  <%= f.input :user_reward_id, input_html: { data: { bets_target: "reward" }} %>
                </div>
                <%= f.button :submit, "Nul", class:"btn btn-dark btn-bet pe-4 rounded-3 text-center mx-1 mb-2" %>
              <% end %>

              <%= simple_form_for @bet do |f|%>
                <div class="d-none">
                  <%= f.input :match_id, input_html: { value: match.id} %>
                  <%= f.input :participation_id, input_html: {value: match.outsider_participation.id} %>
                  <%= f.input :user_reward_id, input_html: { data: { bets_target: "reward" }} %>
                </div>
                <%= f.button :submit, "#{match.outsider_participation.team.name}",class:"btn btn-dark btn-bet pe-4 rounded-3 text-center mx-1 mb-2" %>
              <% end %>
            </div>


          <div class="col-12 d-flex  flex-column justify-content-center mt-5 mb-3 text-center">
            <button type="button" class="btn btn-dark btn-bet pe-4 rounded-3 text-center mx-5 mb-3 " data-bs-toggle="modal" data-bs-target="#reward-<%=match.id%>-Modal">Utiliser un bonus</button>
            <% if match.bets.present? %>
              <p ><%= match.bets.count %> pari(s) sur ce match.</p>
            <% else %>
              <p>Aucun pari sur ce match</p>
            <% end %>
          </div>
          <div class="modal fade" id="reward-<%=match.id%>-Modal" tabindex="-1" aria-labelledby="reward-<%=match.id%>-ModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="reward-<%=match.id%>-ModalLabel">Mes bonus disponibles</h5>
                </div>
                <div class="modal-body">
                  <% current_user.user_rewards.each do |user_reward| %>
                    <div class="card d-flex text-center mb-3" data-bs-dismiss="modal" style="width: 18rem;" id="card-reward-bet">
                      <div id="bet_user_reward_id_<%= user_reward.id %>" data-action="click->bets#RewardSelect" data-bets-reward-value=<%= user_reward.id %> class="d-flex flex-column card-body text-center justify-content-center">
                        <h5 class="card-title"><%= user_reward.reward.title %></h5>
                        <p class="card-text"><%= user_reward.reward.description %></p>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
      <% end %>
        </div>
    <% end %>
  </div>
