<div class="container col-12">

<%# ----- SQUAD HEADER ----- %>
<div class="banner overflow-hidden rounded-4 shadow-sm" style="position: relative;"id="subcard">
<%= image_tag "team.jpg", class: "img-fluid", style: "object-fit: cover" %>
<div class="text-center text-white" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
<h1>Alors ? Ça dit quoi tes derniers paris ?</h1>
</div>
</div>
  <br>
  <h2 class="text-white">Matches</h2>
  <br>

<%# ----- recup et affichage des matches ----- %>

<div class="accordion" id="matchesAccordion">
  <% grouped_matches = @matches.select { |match| match.date < Date.today && match.bets.present? }.group_by { |match| match.date.to_date }.sort_by { |date, _matches| date }
                             .reverse %> %>
  <% grouped_matches.each do |date, matches| %>
    <div class="accordion-item">
      <p class="accordion-header" id="dateHeading<%= date.strftime('%Y%m%d') %>">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#dateCollapse<%= date.strftime('%Y%m%d') %>" aria-expanded="true" aria-controls="dateCollapse<%= date.strftime('%Y%m%d') %>">
           <%= date.strftime('%d %B %Y') %>
        </button>
      </p>
      <div id="dateCollapse<%= date.strftime('%Y%m%d') %>" class="accordion-collapse collapse" aria-labelledby="dateHeading<%= date.strftime('%Y%m%d') %>" data-bs-parent="#matchesAccordion">
        <div class="accordion-body">
              <% matches.each do |match| %>
                        <% match.winner_team %>
                        <% match.draw? %>
                        <div class="cadre m-3">
                          <div class="date">
                          </div>
                          <div class="card-squad-display-1">
                            <div class="card-squad-display-2 custom-grid-5">

                          <% if match.funbet %>
                          <div class="squad-content2 pt-2">
                                <h3><%= match.sport %></h3>
                              </div>
                              <div class="squad-sport  ms-3 m-1">
                                <h4><%= match.participations.first.team.name %></h4>
                              </div>
                              <div class="squad-sport scores m-1"><h5><%= match.participations.first.score %> - <%= match.participations.last.score %></h5></div>
                              <div class="squad-sport m-1">
                                <h4><%= match.participations.last.team.name %></h4>
                              </div>
                              <% else %>
                              <div class="squad-content pt-2">
                                <h3><%= match.sport %></h3>
                              </div>
                              <div class="trs pt-2">
                                <h4><%= match.participations.first.team.name %></h4>
                              </div>
                              <div class="trs pt-2"><h5><%= match.participations.first.score %> - <%= match.participations.last.score %></h5></div>
                              <div class="trs pt-2">
                                <h3><%= match.participations.last.team.name %></h3>
                              </div>
                            <% end %>



                                <% bet = Bet.find_by(user: current_user, match: match) %>
                                <% if bet.present? %>
                                  <% if bet.won? %>
                                    <div class="win pt-2">
                                      <h3> gagné !</h3>
                                    </div>
                                  <% elsif bet.lost? %>
                                    <div class="lose pt-2">
                                      <h3> perdu !</h3>
                                    </div>
                                  <% end %>
                                   <% else %>
                                   <div class="disab pt-2">
                                  <h3>✖</h3>
                                  </div>
                                <% end %>

                            </div>
                          </div>
                          <div class="card-squad-display-3 col-11 d-flex justify-content-center">
                            <% if match.bets.count <= 1 %>
                              <%= "#{match.bets.count} pari de ta team placé sur ce match." %><br>
                            <% else  %>
                              <%= "#{match.bets.count} paris de ta team placés sur ce match." %><br>
                            <% end %>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
  </div>
</div>
