

<div class="container col-12">


<%# ----- SQUAD HEADER ----- %>
<div class="banner overflow-hidden rounded-4 shadow-sm" style="position: relative;"id="subcard">
<%= image_tag "team.jpg", class: "img-fluid", style: "object-fit: cover" %>
<div class="text-center text-white" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
<h1>Alors ? Ça dit quoi tes derniers paris ?</h1>
</div>
</div>

  <h2 class="text-white">Matches</h2>

<%# ----- recup et affichage des matches ----- %>
  <% @matches.sort_by { |match| match.date }.reverse.each do |match| %>
    <div class="cadre m-3">
      <div class="card-squad-display-1 col-12">
        <p class="text-white"><%= match.date.strftime('%d-%m-%Y') %></p>
        <div class="card-squad-display-2 col-12 d-flex">
          <div class="squad-content pt-2">
            <h3><%= match.sport %></h3>
          </div>
          <div class="squad-sport m-1">
            <h4><%= match.participations.first.team.name %></h4>
          </div>
          <div class="squad-sport m-1"><h5> 7 - 2 </h5></div>
          <div class="squad-sport m-1">
            <h4><%= match.participations.last.team.name %></h4>
          </div>
          <div class="win-or-lose pt-2">
            <h3> gagné !</h3>
          </div>
        </div>
      </div>
      <div class="card-squad-display-3 col-11 d-flex justify-content-center">
        <% if match.bets.present? %>
          <%= match.bets.count %> joueur(s) ont parié sur ce match.<br>
        <% else %>
          <p>0 joueurs ont parié sur ce match</p>
        <% end %>
      </div>

    </div>
  <% end %>

</div>
