<div class="container">
  <h1><%= @squad.name %> Squad</h1>

  <h2>Matches</h2>
    <% @matches.each do |match| %>
      <%= match.sport %> le <%= match.date %> : <h5><%= match.participations.first.team.name %> - <%= match.participations.last.team.name %></h5>
      <h4>Nombre de joueur qui ont parié sur ce match</h4>

          <% if match.bets.present? %>
            <%= match.bets.count %> joueur(s) ont parié sur ce match.<br>
          <% else %>
            <p>0 joueurs ont parié sur ce match</p>
          <% end %>
    <% end %>
